
<footer class="container-fluid colordark text-white letra" style="margin-top:150px;">
  <div class="row">
    <div class="col-md-4" >
      <p class="text-center"><%= image_tag 'logo_size_invert.jpg', class: "logo"%></p>
      <h2 class="text-uppercase font-weight-bold mb-4 text-center">No dejes Pasar la Oportunidad</h2>
  </div>

    <div class="col-md-4 mt-5 d-none d-sm-none d-md-block">
      <h2 class="text-uppercase font-weight-bold mb-4 text-center">Navega</h2>
      <ul class="list-unstyled text-center" >
        <li class="mb-2"><a href="/" class="text-white letra"><h3>Inicio</h3></a></li>
        <br>
        <li class="mb-2"><a href="<%= new_product_path %>" class="text-white letra"><h3>Publicar</h3> </a></li>
        <br>
        <li class="mb-2"><a href="<%= products_publications_path  %>" class="text-white letra"><h3>Publicaciones</h3></a></li>
        <br>
      </ul>

    </div>

    <div class="col-md-4 mt-4">
    <div class="col-md-4" >
      <p><%= image_tag 'logo_size_invert.jpg', class: "logo"%></p>
      <h2 class="text-uppercase font-weight-bold mb-4">Encuentralo!</h2>
    </div>
  </div>


  <!-- Copyrights -->
  <div >
    <div class="container text-center text-white letra">
      <p class="mb-0 py-2">© 2021 PERTMUTAPP donde encontrarás los que necesitas en Santiago.</p>
    </div>
  </div>
</footer>