/* Style footer */
footer {
background: #1A1E25;
color: #868c96;
}

footer p {
padding: 40px 0;
text-align: center;
}

footer img {
width: 50px;
}

#test img {
  width: 20px;
}

.social-icons a.github:hover
{
  background-color:#3b5998
}