/* Style footer */

.margen{
  padding-bottom: 40rem;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.ta{
  margin-top: 80px;
}


.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

h2{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

h3{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 600;
}
h5{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
}
h4{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
}
h6{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
}
h1{
  font-family: 'Lobster', cursive;
  font-weight: 400;
}

ul.navbar-nav a  {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
}
footer {
background: #1A1E25;
color: #868c96;
}

footer p {
padding: 5px 0;
text-align: center;
}

footer img {
width: 30px;
}

#test img {
  width: 20px;
}

.fixed-height {
  max-height: 400px;
}

.opacity-3 {
  opacity:0.6!important;
}

.navbar-collapse{
  padding-top: 20px;
  padding-bottom: 20px;
}

input#search{
  width: 450px;
  height: 40px;
  background: #fff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 20px;

}

.botton_search{
  display: none;
}

hr {border: 0; height: 12px;box-shadow: inset 0 12px 12px -12px #333;
}

.logo{
width: 200px;
height: 200px;
}

label{
  font-family: 'Lobster';

    font-size: 30px;
    text-align: start;
}

.publication{
  display: flex;
  justify-content: center;

}